{% extends "CompetenceBundle::layout.html.twig" %}
{% block content %}
    <div class="header_page">
        <div class="row">
            <div class="section">
                <div class="section-text">
                    <h1>Evaluer avec épreuve</h1>
                    <p>Cette page permet d'évaluer des apprenants sur une épreuve créée au préalable.</p>
                </div>
            </div>
        </div>
    </div>
    {% block evaluer %}
            <div class="container_page">
                <div class="row">
                    <div class="large-5 columns">
                        <label>
                            Choisissez une épreuve *
                            <p class="help-text" id="epreuveHelpTxt">A la sélection, génère le bloc d'évaluation.</p>
                            <select id="epreuve" required aria-describedby="epreuveHelpTxt">
                                <option selected value =''>  </option>
                                {% for epreuve in epreuves %}

                                    <option value="{{ epreuve['id']}}">{{ epreuve['date'] }}</option>

                                {% endfor %}
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>
                            Etudiants
                            <select class="select2" multiple="multiple" id="etudiant">
                                {% for etudiant in etudiants %}

                                    <option value="{{ etudiant['id']}}">{{ etudiant['nom'] }} {{ etudiant['prenom'] }}</option>

                                {% endfor %}
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <input type="checkbox" id="checkbox" >
                        <label for="checkbox" id="label_chk">Sélectionner/Déselectionner <strong>tous</strong> les étudiants.</label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <input type="submit" value="Consulter" name="Consulter" class="button">
                    </div>
                </div>
                <div class="row">
                    <br>
                    <div class="large-12 columns">
                        <input type="search" id="search" placeholder="Rechercher...">
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns" id="bloc_eval" style="display: none;">
                        <!-- Mettre un include ici de ton code pour afficher les valeurs figurant dans la database. -->
                        <table>
                            <thead>
                            <tr>
                                <th colspan="3" style="text-align: center;">@Nom de l'étudiant</th>
                            </tr>
                            <tr>
                                <th>Nom de la compétence</th>
                                <th>Note</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Maitriser les bases Visual Basic</td>
                                <td>
                                    <select id="example">
                                        <option value="1">A chier</option>
                                        <option value="2">Toujours nul</option>
                                        <option value="3">Potable</option>
                                        <option value="4">Cool</option>
                                        <option value="5">Dieu</option>
                                    </select>
                                </td>

                            </tr>
                            <tr>
                                <td>Notions d'héritage en Java</td>
                                <td></td>

                            </tr>
                            <tr>
                                <td>Serialisation en C#</td>
                                <td></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endblock %}
{% endblock %}